//
//  Beta.xcconfig
//  SchemaTarget
//
//  Created by M.abdu on 11/2/20.
//  Copyright © 2020 com. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Config.xcconfig"

BUNDLE_ID = $(inherited)

APP_NAME = $(inherited) Development

BASE_URL = $(inherited)wndo.net:5001

ENV = $(inherited)Development
